     .A {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
      
          font-size: 5em;
          font-family: serif;
          color: transparent;
          text-align: center;
          animation: effect 2s linear infinite;
          
      }

      @keyframes effect {
          0% {
              background: linear-gradient(
                        #FF1493, #ADD8E6);
              -webkit-background-clip: text;
          }

          100% {
              background: linear-gradient(
                     #DAF7A6 , #900C3F);
              -webkit-background-clip: text;
          }
      }


  