.Ghaida{
    text-align: center;
    background: linear-gradient(to right, #30CFD0 , #330867 100%);
	-webkit-background-clip: text;
    background-clip: text;
	-webkit-text-fill-color: transparent;
    background-color: #C3CFE2;
	
}