
#typing-text {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid #333;
  animation: typing 3s steps(40) infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}