body{
    font-family: 'Trebuchet MS', sans-serif; 
  }
  .container{
    display: inline-block;
  }
  .typed-out{
    overflow: hidden;
    border-right: .15em solid rgb(160, 107, 144);
    white-space: nowrap;
    animation: 
      typing 5s forwards;
    font-size: 1.6rem;
    width: 0;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }